.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  
  .logo {
    color: #fff;
    user-select: none;
    cursor: pointer;
  }

  .logo a {
    text-decoration: none;
    color: inherit;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .theme-toggle {
    background-color: azure;
    color: black;
    border-radius: 50%;
    padding: .25rem;
  }